body {
  transition: 1s all; }

.storytext {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  transition: 2s opacity;
  opacity: 0; }

#story {
  background-color: white;
  width: 500px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  margin-top: 10%;
  text-align: center; }

#start {
  margin-top: 20px;
  text-align: center; }

#startbtn {
  opacity: 0;
  padding: 16px 32px;
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 34px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555; }

#startbtn:hover {
  background-color: #555555;
  color: white; }

.hero_side,
.monster_side {
  height: 600px; }

.text {
  height: 125px;
  font-family: "Comic Sans MS", cursive, sans-serif; }
  .text p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 0px; }

.text_input {
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 125px;
  margin-top: 25px;
  width: 90%;
  margin-left: 5%;
  border: 0px;
  vertical-align: top;
  background: #ddd;
  border: 5px solid #ccc;
  border-radius: 10px; }

.hero {
  justify-content: center;
  display: flex;
  height: 275px; }

.health {
  height: 100px;
  display: flex;
  justify-content: space-around; }

.healthbar {
  width: 90%;
  height: 50px;
  background: red;
  margin-top: 25px;
  border-radius: 5px;
  border: 5px solid #ccc; }

.life {
  background: green;
  transition: 1s width;
  width: 100%;
  height: 100%; }
  .life span {
    position: absolute;
    margin-top: 3px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ddd; }

.monster {
  height: 550px; }
  .monster div {
    position: absolute;
    animation-name: monsterFly;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate; }
    .monster div img {
      width: 100%; }

.fade.ng-enter {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 200px;
  top: 300px;
  transition: 1s ease-out opacity;
  opacity: 1; }

.fade.ng-enter.ng-enter-active {
  opacity: 0; }

@keyframes monsterFly {
  0% { }
  10% {
    margin-top: 200px;
    margin-left: -50px; }
  20% {
    margin: 0px; }
  30% {
    margin-top: 200px;
    margin-left: 50px; }
  40% {
    margin: 0px; }
  50% {
    margin-top: 75px;
    margin-left: 10px; }
  60% {
    margin: 0px; }
  70% {
    margin-top: 90px;
    margin-left: -30px; }
  80% {
    margin: 0px; }
  90% {
    margin-top: 200px;
    margin-left: 10px; }
  100% {
    margin: 0px; } }

.place {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  width: 500px;
  padding-top: 50px; }
  .place p {
    opacity: 0;
    color: #eee;
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    transition: 1s opacity; }
